
#slideshow {
  width: 1200px;
  height: 377px;
  margin: 0 auto;
  margin-top: 10px;
  background: #fff;
  overflow: hidden;
}
 /* 轮播图导航 */
.class-nav {
  width: 184px;
  height: 375px;
  color: #333;
  z-index: 2;
  padding-bottom: 4px;
  background-color: #fff;
  border: 1px solid #333;
}
.class-nav .class-name {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  text-indent: 12px;
}
.class-nav a {
  color: #333;
  border-right: 1px solid #e4e4e4;
  display: inline-block;
  height: 14px;
  line-height: 14px;
}
/* 轮播图 */
.banner-box {
  width: 1009px;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.zol {
  width: 1009px;
  height: 403px;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}
.zol img {
  width: 100%;
  height: 100%;
}
.zol ul {
  position: absolute;
  left: 0px;
  top: 0px;
}

.zol ul li {
  width: 1009px;
  height: 100%;
  float: left;
}

.zol ol {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  bottom: 40px;
}

.zol ol li {
  float: left;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  margin-right: 5px;
  text-indent: -999em;
  cursor: pointer;
}

.zol ol li.active {
  background: orange;
}

#left,
#right {
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -70px;
  font-size: 100px;
  display: none;
}

#left {
  left: 20px;
}
#right {
  right: 20px;
}
