@charset "utf-8";
/* 公用属性 */
.clearfix::after {
  content: "";
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
body {
  font: 12px/1.5 Arial;
  color: #333;
}
/* 头部 */
//
.z-topbar {
  width: 100%;
  height: 30px;
  background: #f5f5f5;
}
//
.header {
  margin: 0 auto;
  padding: 30px 0;
  width: 960px;
}
//logo

//跟随足迹
.flow-step {
  float: right;
  padding: 2px 0 0;
}
.flow-step li {
  float: left;
  width: 90px;
  padding: 0 14px 0 0;
  background-position: 100% -74px;
  background-color: #e6e6e6;
  font: 14px/36px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
  text-align: center;
}
.flow-step .s1 {
  padding: 0 14px;
}
/* 已封装区域 */
.wrapper {
  width: 960px;
  margin: 0 auto;
}
//购物车状态
.cart-state {
  margin-top: 10px;
  text-align: right;
}
//订单表
.order-table {
  margin-top: 20px;
}
//
.order-table th {
  height: 36px;
  background: #f5f5f5;
  border-top: 2px solid #e02d2d;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
}
/* 脚步 */
.footer {
  margin: 40px auto 0;
  padding: 5px 0 20px;
  width: 960px;
  text-align: center;
  border-top: 1px solid #e3e3e3;
}
.footer .links {
  padding: 14px 0 6px;
  color: #ccc;
}
.authentication {
  padding-top: 12px;
}
.authentication a {
  vertical-align: middle;
  margin-right: 8px;
}
a {
  color: #134ba0;
  text-decoration: none;
  cursor: pointer;
}
